<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BotCleaner - Contrôleur</title>

    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script>
		let CHANGE_SPEED = "speed=";
        let codeBtnPressed = 'touchstart mousedown';
        let codeBtnRelease = 'touchend mouseup';
        let postCmdBtnRelease = "stop";
        let urlPostCmd = "/api/robot/cmd";

        /* Execute les fonctions lorsque:
         * - un bouton est pressé
         * - un bouton est relaché
         * */
        $(function() {
            $(".btn").on(codeBtnPressed , function() {
                postCmd(this.id);
            });
            $(".btn").on(codeBtnRelease, function() {
                postCmd(postCmdBtnRelease);
            });
            $("#speed_slider").on("change", function(){
            	let newSpeed = this.value;
            	$("#speed").text('Vitesse: '+newSpeed);
            	postCmd(CHANGE_SPEED.concat('',newSpeed));
			})
        });

        /* Requête POST */
		// Envoie l'id du bouton, cela correspond a l action a realiser
        function postCmd(cmd){
            var data = { "cmd": cmd };
            $.post(urlPostCmd,data, function (dstatus){
				console.log('${status}');
			});
        }
    </script>
	<style>
		#main{
			width: 640px;
		}
		td {
			text-align: center;
			vertical-align: middle;
		}
		.btn {
			width: 100px;
			height: 50px;
		}
		table, #speed_slider{
			width:100%;
		}
		#stream{
			width: 100%;
		}
	</style>
</head>
<body id="main">
<div class="">
    <h1>Manette de contrôle</h1>
    <img id="stream" src="{{ url_for('video_feed') }}" alt="stream"><br>
</div>
	<table class="">
		<tr>
			<label id="speed">Vitesse: 50</label>
		</tr>
		<tr>
			<input id="speed_slider" type="range" min="0" max="100" value="50">
		</tr>
		<tr>
			<td colspan="2"><button id="forward" class="btn" >avancer</button></td>
		</tr>
		<tr>
			<td><button id='turn_left' class="btn" >tourner à gauche</button></td>
			<td><button id='turn_right' class="btn" >tourner à droite</button></td>
		</tr>
		<tr>
			<td colspan="2"><button id='backward' class="btn" >reculer</button></td>
		</tr>
	</table>
</body>
</html>

